/vendor/
/node_modules/
/.env
/.env.*
!.env.example
/.phpunit.result.cache
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php
/public/build
/public/hot
/.idea/
/.vscode/
*.swp
*.swo
Thumbs.db
Desktop.ini
nul
